/* inter-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('/mobile-assets/fonts/inter-v13-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/mobile-assets/fonts/inter-v13-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/mobile-assets/fonts/inter-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/mobile-assets/fonts/inter-v13-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/mobile-assets/fonts/inter-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #404040;
}

.wrapper {
    max-width: 340px;
    margin: 0 auto;
}

/* Header styles start */

header {
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 15px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
}

/* header styles end */


/* intro styles start */

.intro {
    min-height: 100vh;
    background-color: #E8BE2B;
    padding-top: 77.7vh;
}

.intro_title {
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 77.866%;
    /* 52.17px */
    letter-spacing: -5.36px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro_subtitle {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 77.866%;
    /* 17.131px */
    letter-spacing: -1.76px;
    text-transform: uppercase;
}

.subtitle_list {
    display: inline-flex;
    align-items: flex-start;
    gap: 23px;
}

/* intro styles end */

/* about-us styles start */

.about-us_wrap {
    background-color: #DFDFDF;
    margin: 0 auto;
}

.about-us_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:24px;
}

.about-us_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 77.866%;
    /* 18.688px */
    letter-spacing: -1.92px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.9vh;
}

.content_img {
    width: 100vw;
    height: 55vh;
    flex-shrink: 0;
    border-radius: 0px 0px 35px 35px;
    background: url(/mobile-assets/mobile-images/img1.jpg) 40% / auto 100% no-repeat;
    margin-bottom: 4.8vh;
}

/* about-us styles end */