@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root{
    --background-light: #DFDFDF;
    --background-dark: #404040;
    --yellow-base: #E8BE2B;
}

body{
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    background: var(--background-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--background-dark);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 20vh;
    margin-top: 7vh;
    margin-bottom: 10vh;
}

header a{
    color: var(--background-dark);
}

header h4{
    margin-top: 10vh;
}

/* main section */

/* section mit news */
.section-neuigkeiten{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
}

.section-neuigkeiten h1{
    text-transform: uppercase;
    color: var(--background-dark);
    margin-bottom: 1vw;
}

.section-neuigkeiten h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 8vh;
    text-transform: uppercase;
    color: var(--background-dark);
    text-align: center;
    font-family: Inter;
    font-size: 3.1vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: .5vw;
    background: rgba(255, 236, 60, 0.52);
}

.section-neuigkeiten h5{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: .3vw;
    text-transform: uppercase;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container-news{
    display: none;
}

.container-news .message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 10vh;
    background: #ffffff;
    text-transform: uppercase;
}
.message p{
    font-family: Inter;
    font-size: 
    2vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--background-dark);
}

/* Galerie Section */

.galary-section{
    width: 100vw;
    height: 80vh;
    background: var(--background-dark);
    display: flex;
    justify-content: center;
}

.galary-section h1{
    color: var(--background-light);
    text-transform: uppercase;
    margin-top: 13vh;
}