@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-light: #dfdfdf;
  --background-dark: #404040;
  --yellow-base: #e8be2b;
}

body {
  height: 100;
  width: 100vw;
  margin: 0;
  background: var(--background-light);
  display: flex;
  flex-wrap: wrap;


  font-family: Inter;
  font-size: 4vw;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: var(--background-dark);
}

.main {
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 86vw;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 10%;
  margin-left: 8%;
}

header a {
  color: var(--background-dark);
}

header img {
  width: 90%;
}

.sidebar {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-dark);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.sidebar a {
  color: var(--background-light);
  margin-bottom: 50px;
  text-align: left;
  display: block;
  text-decoration: none;
}

.close-btn {
  cursor: pointer;
  color: var(--background-light);
  position: absolute;
  top: 5%;
  left: 70%;
  border: none;
  font-size: calc(30px + 1vmin);
}

.open-btn {
  cursor: pointer;
  color: var(--background-dark);
  border: none;
  font-size: 8vw;
}

.warning-message-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  background-color: rgba(245, 54, 48, 0.35);
  margin-bottom: 6%;

}

.warning-message {
  width: 80%;
  align-items: center;
  font-size: 40%;
  font-weight: 600;
  padding: 40px 0;
}

.eroeffnung-message {
  width: 80%;
  align-items: center;
  font-size: 60%;
  margin-left: 7%;
  font-weight: 600;
  margin-bottom: 6%;
}

.geschlossen {
  color: #4040405d;
}

.open-times-list {
  margin: 0;
  padding: 0;
}

thead,
th {
  font-weight: 600;
}

tr {
  font-weight: 400;
  transition: .3s;
}

tr:hover {
  background-color: rgba(232, 190, 43, 0.5);
}

table {
  width: 90%;
  padding: 0 0 0 5%;
  text-align: left;
  margin-bottom: 7%;
  cursor: default;

  font-family: Inter;
  font-size: 40%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--background-dark);
}

th,
td {
  padding: 1.5%;
}

.bold {
  font-weight: 900;
}

.small {
  font-size: 70%;
}

.gruppen-message-border {
  display: flex;
  align-items: center;
  width: 90%;

  margin: auto;
  background-color: rgba(232, 190, 43, 0.5);
  margin-bottom: 7%;
}

.gruppen-message {
  padding: 40px 0;
  max-width: 80%;
  height: 9%;
  align-items: center;
  font-size: 40%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
}

.button {
  min-width: 13%;
  font-size: 40%;
  font-weight: 600;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-size: 29%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

nav ul li {
  margin-bottom: 2%;
}



/* all links on website */

nav ul li a {
  text-decoration: none;
  color: var(--background-dark);
}

nav ul li a:hover {
  color: #947a1c;
}

/* footer comment like "rights" */

.rights {
  width: 100%;
  color: var(--background-dark);
  text-align: center;
  font-family: Inter;
  font-size: 60%;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 35px;
}

/* all links on website */

.links {
  color: var(--background-dark);
  font-family: Inter;
  font-size: 98%;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3%;
  text-transform: uppercase;
}