@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-light: #dfdfdf;
  --background-dark: #404040;
  --yellow-base: #e8be2b;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-dark);
  transition:
    opacity 0.75s,
    visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 85px;
  height: 50px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #fff 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: s9 1s infinite;
}
@keyframes s9 {
  0% {
    background-size:
      25px 50%,
      25px 50%,
      25px 50%;
  }
  25% {
    background-size:
      25px 100%,
      25px 50%,
      25px 50%;
  }
  50% {
    background-size:
      25px 50%,
      25px 100%,
      25px 50%;
  }
  75% {
    background-size:
      25px 50%,
      25px 50%,
      25px 100%;
  }
  100% {
    background-size:
      25px 50%,
      25px 50%,
      25px 50%;
  }
}

body {
  height: 100;
  overflow-y:scroll;
  overflow-x: hidden;
  margin: 0;
  background: var(--background-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-family: Inter;
  font-size: 4vw;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
  color: var(--background-dark);
}

#pause_btn{
  position:relative;
  border: none;
  background: none;
  left: 3vw;
  bottom: 4vw;
  cursor: pointer;
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  color: var(--background-light);
}

.section-neuigkeiten h5 a{
  color: var(--background-dark);
  margin-bottom: 50px;
  display: block;
  text-decoration: none;
}

@media (max-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  header a {
    color: var(--background-dark);
  }

  header h4 {
    margin-top: 100px;
  }

  /* Sidebar section */

  .sidebar {
    display: flex;
    height: 631px;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-dark);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 55px;
  }

  .sidebar ul {
    list-style: none;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .sidebar a {
    color: var(--background-light);
    margin-bottom: 50px;
    text-align: left;
    
    display: block;
    text-decoration: none;
  }

  /* .sidebar a:hover {
    color: #f1f1f1;
    } */

  .close-btn {
    cursor: pointer;
    color: var(--background-light);
    position: absolute;
    top: 6vw;
    left: 42vw;
    border: none;
    font-size: 8vw;
  }

  .open-btn {
    cursor: pointer;
    color: var(--background-dark);
    border: none;
    font-size: 8vw;
  }

  .content {
    padding: 16px;
    transition: 0.5s;
  }
  /* main section */

  /* section mit news */
  .section-neuigkeiten {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
  }

  .section-neuigkeiten h1 {
    text-transform: uppercase;
    color: var(--background-dark);
    margin-bottom: 10px;
  }

  .neuigkeiten-block{
    width: 80%;
    height: 10%;
    background-color: rgba(255, 236, 60, 0.52);
  }

  .section-neuigkeiten h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  .section-neuigkeiten h5 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .section-neuigkeiten h5 a{
    color: var(--background-dark);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .container-news {
    display: none;
  }

  .container-news .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 10vh;
    background: #ffffff;
    text-transform: uppercase;
  }
  .message p {
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--background-dark);
  }

  /* Galerie Section */

  
  .galary-section {
    width: 100vw;
    display: flex;
    flex-wrap:wrap;
  }

  .galary-section video {
    width: 100vw;
  }

  #pause_btn{
    opacity: 20%;
    transition: .3s;
  }
  #pause_btn:hover{
    opacity: 100%;
  }

  /* footer */

  .footer {
    width: 100vw;
    height: auto;
    margin-bottom: 25px;
  }

  .social-media-element {
    color: var(--background-dark);
    text-align: left;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }

  .email {
    margin-top: 27px;
  }

  /* all links on website */

  .links {
    color: var(--background-dark);
    font-family: Inter;
    font-size: 3.3vw;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  /* footer comment like "rights" */

  .rights {
    color: var(--background-dark);
    text-align: center;
    font-family: Inter;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape){
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  
  header img {
    width: 25.1vw;
    margin-right: 21vw;
  }

  /*sidebar section  */

  .sidebar {
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-dark);
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    margin-top: 0;
  }

  .sidebar ul {
    margin-top: 50px;
    list-style: none;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  .sidebar a {
    color: var(--background-light);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .close-btn {
    cursor: pointer;
    color: var(--background-light);
    position: absolute;
    top: 25px;
    left: 170px;
    background: none;
    border: none;
    font-size: 3vw;
  }
  
  .open-btn{
    font-size: 6vw;
    cursor: pointer;
    color: var(--background-dark);
    border: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
  }

  header a {
  }

  header h4 {
    font-size: 2vw;
  }

  /* Sidebar section */


  .section-neuigkeiten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 5vw;
  }

  .section-neuigkeiten h1 {
    text-transform: uppercase;
    align-items: center;
    font-size: 4vw;
  }

  .neuigkeiten-block{
    width: 120%;
    height: 100%;
    background-color: rgba(255, 236, 60, 0.52);
  }

  .section-neuigkeiten h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  .section-neuigkeiten h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
  }

  .section-neuigkeiten h5 a{
    color: var(--background-dark);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .container-news {
    display: none;
  }
  .arrow_neu {
    color: #404040;
  }

  /* Galerie Section */

  .galary-section {
    width: 100vw;
    display: flex;
    flex-wrap:wrap;
  }

  .galary-section video {
    width: 100vw;
  }

  #pause_btn{
    opacity: 20%;
    transition: .3s;
  }
  #pause_btn:hover{
    opacity: 100%;
  }

  /* footer */

  .footer {
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .social-media iconify-icon {
    width: 5px;
  }

  .social-media-element {
    list-style: none;
    align-items: center;
    margin-bottom: 13px;
  }

  .email {
    margin-top: 27px;
  }

  /* all links on website */

  .links {
    color: var(--background-dark);
    font-family: Inter;
    font-size: 2.3vw;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  /* footer comment like "rights" */

  .rights {
    color: var(--background-dark);
    text-align: center;
    font-family: Inter;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 1367px) and (orientation: landscape){
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  
  header img {
    width: 25.1vw;
    margin-right: 21vw;
  }

  /*sidebar section  */

  .sidebar {
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-dark);
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    margin-top: 0;
  }

  .sidebar ul {
    margin-top: 50px;
    list-style: none;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  .sidebar a {
    color: var(--background-light);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .close-btn {
    cursor: pointer;
    color: var(--background-light);
    position: absolute;
    top: 25px;
    left: 170px;
    background: none;
    border: none;
    font-size: 3vw;
  }
  
  .open-btn{
    font-size: 6vw;
    cursor: pointer;
    color: var(--background-dark);
    border: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
  }

  header a {
  }

  header h4 {
    font-size: 2vw;
  }

  /* Sidebar section */


  .section-neuigkeiten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 5vw;
  }

  .section-neuigkeiten h1 {
    text-transform: uppercase;
    align-items: center;
    font-size: 4vw;
  }

  .neuigkeiten-block{
    width: 120%;
    height: 100%;
    background-color: rgba(255, 236, 60, 0.52);
  }

  .section-neuigkeiten h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  .free{
    cursor: default;
    transition: .5s;
  }
  .free:hover{
    color: green;
    transform: rotate(-27deg);
  }
  
  .section-neuigkeiten h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
  }

  .section-neuigkeiten h5 iconify-icon{
    transition: .4s all;
  }

  .section-neuigkeiten h5:hover iconify-icon{
    padding-left: 1vw;
  }

  .section-neuigkeiten h5 a{
    color: var(--background-dark);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .container-news {
    display: none;
  }
  .arrow_neu {
    color: #404040;
  }

  /* Galerie Section */

  .galary-section {
    width: 100vw;
    display: flex;
    flex-wrap:wrap;
  }

  .galary-section video {
    width: 100vw;
    
  }

  #pause_btn{
    opacity: 20%;
    transition: .3s;
  }
  #pause_btn:hover{
    opacity: 100%;
  }

  /* footer */

  .footer {
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .social-media iconify-icon {
    width: 5px;
  }

  .social-media-element {
    list-style: none;
    align-items: center;
    margin-bottom: 13px;
  }

  .email {
    margin-top: 27px;
  }

  /* all links on website */

  .links {
    color: var(--background-dark);
    font-family: Inter;
    font-size: 2.3vw;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  /* footer comment like "rights" */

  .rights {
    color: var(--background-dark);
    text-align: center;
    font-family: Inter;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 481px) and (orientation: portrait){
    header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86vw;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  header img {
    width: 45vw;
  }

  header a {
  }

  header h4 {
  }

  /* Sidebar section */

  .sidebar {
    display: flex;
    height: 631px;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-dark);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 55px;
  }

  .sidebar ul {
    margin-top: 50px;
    list-style: none;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .sidebar a {
    color: var(--background-light);
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
  }

  .close-btn {
    color: var(--background-light);
    position: absolute;
    top: 33px;
    left: 150px;
    background: none;
    border: none;
    font-size: 8vw;
  }

  .open-btn {
    font-size: 8vw;
    cursor: pointer;
    color: var(--background-dark);
    border: none;
  }

  .content {
    padding: 16px;
    transition: 0.5s;
  }

  /* end of sidebar section */

  .section-neuigkeiten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .section-neuigkeiten h1 {
    text-transform: uppercase;
    align-items: center;
  }

  .neuigkeiten-block{
    width: 120%;
    height: 100%;
    background-color: rgba(255, 236, 60, 0.52);
  }

  .section-neuigkeiten h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  

  .section-neuigkeiten h5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-news {
    display: none;
  }

  /* .container-news .message{
        
    }
    .message p{
        
    } */

  /* Galerie Section */

  
  .galary-section {
    width: 100vw;
    display: flex;
    flex-wrap:wrap;
  }

  .galary-section video {
    width: 100vw;
  }

  #pause_btn{
    opacity: 20%;
    transition: .3s;
  }
  #pause_btn:hover{
    opacity: 100%;
  }

  /* footer */

  .footer {
    font-family: Inter;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .social-media iconify-icon {
    width: 20vw;
  }

  .social-media-element {
    list-style: none;
    align-items: center;
    margin-bottom: 13px;
  }

  .email {
    margin-top: 27px;
  }

  /* all links on website */

  .links {
    color: var(--background-dark);
    font-family: Inter;
    font-size: 3.3vw;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  /* footer comment like "rights" */

  .rights {
    color: var(--background-dark);
    text-align: center;
    font-family: Inter;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35px;
  }
}
